body {
    font-family: Arial;
    color: #1C344C;
    padding: 40px 0;
}
h1 {
    text-align: center;
    font-size: 36px;
    color:#F2F2F2;
}
h2 {
    font-size: 26px;
}
span {
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    color:#91C46C;
}
img {
    
    width: 299px;
    height: 400px;
    border: 10px solid #F2F2F2;
    padding: 10px;
    background-color: #F2F2F2;
}


section, header {
    padding: 10px 60px 20px 60px;
    background-color:#F2F2F2;
    margin: 0 auto 0 auto;
}
address{
    color:#F2F2F2;
}
header {
    background-color: #1C344C;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    list-style: none;
}
header li {
    margin-bottom: 15px;
}
.address-icon {
    width: 16px;
    height: 16px;
    background-color:#91C46C;
    padding: 10px;
    border: 0px;
    margin-right: 10px;
    vertical-align: middle;
}
.circle {
    border-radius: 50%;
}
.hobby-icon {
    width: 16px;
    height: 16px;
    background-color:#91C46C;
    padding: 10px;
    border: 0px;
    margin-right: 10px;
    vertical-align: middle;
}
.profile-picture {
    width: 299px;
    height:  400px;
}
.hobby {
    list-style: none;
    margin-bottom: 15px;
    display:flex;
}
.hobby li {
    width:33.3%;
    margin-bottom: 5px;
}